header {
    background: url(covid.jpg);
    background-size: cover;
    background-position: center;
    min-height: 1000px;
}

.box-1 {
    background: url(country.webp);
    background-color: rgb(216, 119, 39);
    width: 50% !important;
    margin: 10%;
}

.boxJarak {
    height: 10px;
}

.jarak {
    margin: 10px;
}

.background {
    background-color: rgb(16, 142, 180);
}

.fontJudul {
    font-family: 'Courier New', Courier, monospace;
}